body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  background-color: #f2f3f7;
  color: #222;
  /*background: url(../img/centralpark.jpg) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
a {
  outline: none;
  text-decoration: none;
}
a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}
a.logo img {
  max-width: 50px;
  margin-bottom: 20px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}
hr {
  margin-top: 10px;
  margin-bottom: 10px;
}
.red {
  color: #f62f5e;
}
.blue {
  color: #2a6df0;
}
.gray {
  color: #acbecc;
}
.content-wrap .saved-card.disabled-card {
  opacity: 0.6;
  user-select: none;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #eef3f6;
}
.content-wrap .saved-card.disabled-card:hover {
  box-shadow: none;
}
.main {
  margin-top: 2em;
  padding: 2em;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, .2);
}
.panel-main {
  margin-top: 2em;
}

.sub-header {
  margin-bottom: 1em;
  color: #f62f5e;
}
.flight {
  border-radius: 2px;
  background-color: #fff;
  margin-bottom: 2em;
}
.flight-main {
  background-color: #2a6df0;
  color: #fff;
  position: relative;
  padding-top: 1em;
  padding-bottom: 2em;
  border-radius: 3px 3px 0 0;
}
.flight p {
  margin-bottom: 0;
}
.flight-header {
  padding: 2em 1em;
  border: 1px solid #acbecc;
  border-top: none;
  border-radius: 0 0 3px 3px;
}
.flight-header h2 {
  margin: 0;
}
.flight-footer {
  background-color: #eef3f6;
  padding: 1em;
  border: 1px solid #acbecc;
  border-top: none;
}
.depart-img {
  max-width: 26px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -40%);
}

.billing-summary {
  background-color: #fff;
  border: 1px solid #acbecc;
  border-radius: 3px;
  padding: 1em;
  min-height: 357px;
}

.billing-summary .table-bordered>tbody>tr>td {
  font-size: 18px;
  text-align: right;
}

.billing-summary .table-bordered>tbody>tr>th {
  color: #666;
  font-weight: normal;
}

.panel-footer {
  background-color: transparent;
  border: none;
  padding: 2em 0;
}

.btn {
  font-size: 16px;
  cursor: pointer;
  padding-left: 2em;
  padding-right: 2em;
  transition: all .2s ease-in-out;
  letter-spacing: 1px;
  border: none;
  border-radius: 26px;
  color: #fff;
  background: #f62f5e;
  line-height: 36px;
}

.btn:hover {
  color: #fff;
  transform: scale(1.1);
}

.btn.cancel {
  color: #222;
  background-color: #eef3f6;
}

.btn.btn-sm {
  font-size: 14px;
  line-height: 28px;
}


/*Tabs*/
.tabs {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  font-weight: 300;
  font-size: 1.25em;
}

/* Nav */
.tabs nav {
  text-align: center;
}

.pay-options ul {
  position: relative;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
  list-style: none;
  -ms-box-orient: horizontal;
  -ms-box-pack: center;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}

.pay-options ul li {
  position: relative;
  z-index: 1;
  display: block;
  margin: 0;
  text-align: center;
  -webkit-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

/*.tabs nav a {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 2.5;
  font-size: 20px;
}

.tabs nav a span {
  vertical-align: middle;
  font-size: 0.75em;
}

.tabs nav li.tab-current a {
  color: #74777b;
}

.tabs nav a:focus {
  outline: none;
}

*/


/* Content */
.content-wrap {
  position: relative;
}

.content-wrap section {
  display: block;
  margin: 0 auto;
  padding: 1em 1em 0em;
  max-width: 1200px;
}

.content-wrap section.content-current {
  display: block;
}

.content-wrap .saved-card,
.content-wrap .add-card,
.content-wrap .wallet-type {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #acbecc;
  padding: 1em;
  margin-bottom: 1em;
  color: #666;
  position: relative;
  cursor: pointer;
  transition: all .2s ease-in-out;
}

.content-wrap .saved-card:hover,
.content-wrap .add-card:hover,
.content-wrap .wallet-type:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /*transform: scale(1.01);*/
}

.content-wrap .saved-card img.card-type {
  position: absolute;
  max-width: 46px;
  right: 1em;
}

.content-wrap .saved-card h4,
.content-wrap .wallet-type h4 {
  margin-top: 0;
  margin-bottom: 1em;
}

.content-wrap .wallet-type h4 {
  margin-bottom: 0;
  line-height: 2;
}

.content-wrap .saved-card p,
.content-wrap .wallet-type p {
  margin-bottom: 0px;
}

.content-wrap .saved-card .remove-card {
  opacity: 0;
  position: absolute;
  right: 1em;
  bottom: 1em;
  font-size: 14px;
  color: #999;
  transition: all .2s;
}

.content-wrap .wallet-type img.wallet-img {
  max-width: 50%;
  /* margin-bottom: 1em;*/
}

.content-wrap .saved-card:hover .remove-card {
  opacity: 0.6;
}

.content-wrap .saved-card:hover .remove-card:hover {
  opacity: 1;
}

.content-wrap .saved-card:hover .remove-card:hover a {
  color: #f62f5e;
}

.content-wrap .wallet-type.selected {
  border-color: #33bb56;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}

.content-wrap .right-icon{
  line-height: 2;
}

.content-wrap .add-card .panel-heading{
  background: transparent;
  border: none;
}

.content-wrap .add-card .panel-title{
  font-size: 18px;
}

/* Fallback */
.no-js .content-wrap section {
  display: block;
  padding-bottom: 2em;
  border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
  display: block;
}

.no-flexbox nav ul li {
  min-width: 15%;
  display: inline-block;
}

/*.pay-options {
  max-width: 1200px;
}*/

.pay-options nav a {
  padding: 0.5em 0;
  color: #2a6df0;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.pay-options nav a:hover,
.pay-options nav a:focus,
.pay-options nav li.tab-current a {
  color: #74777b;
}

.pay-options nav a span {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  font-size: 0.625em;
}

.pay-options nav a::after {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: #eef3f6;
  content: '';
  -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
  transition: transform 0.3s, background-color 0.3s;
  -webkit-transform: perspective(900px) rotate3d(1,0,0,90deg);
  transform: perspective(900px) rotate3d(1,0,0,90deg);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-perspective-origin: 50% 100%;
  perspective-origin: 50% 100%;
}

.pay-options nav li.tab-current a::after {
  background-color: #eef3f6;
  -webkit-transform: perspective(900px) rotate3d(1,0,0,0deg);
  transform: perspective(900px) rotate3d(1,0,0,0deg);
}

.pay-options .content-wrap {
  background: #eef3f6;
  padding: 30px 50px 0px;
}

.cvv-password .modal-content {
  padding-bottom: 1em;
}
.cvv-password .modal-content form {
  margin-top: 2em;
}
.cvv-password .modal-content .btn {
  margin-top: 2em;
}

.login-wallet .modal-content {
  padding-bottom: 1em;
}
.login-wallet .modal-content form {
  margin-top: 2em;
}

.login-wallet .modal-content .form-group{
  display: block; 
  margin: 1em;
}

.login-wallet .modal-content .btn {
  margin-top: 2em;
}

.alert {
  overflow: hidden;
}
.cards-accepted img {
  max-width: 50px;
}
.cards-accepted li {
  margin-right: 2em;
  margin-top: 2em;
  margin-bottom: 2em;
}

.content-wrap .add-card .panel-heading a{display:block;width:100%; padding:1.5em}
.content-wrap .add-card{padding: 0}
.content-wrap .add-card .panel-heading {padding: 0}
/*Form styling*/
form.classy-form label {
  font-weight: 400;
  font-size: 14px;
}

form.classy-form .form-control {
  padding: 12px;
  box-shadow: none;
  border: 1px solid #acbecc;
  font-size: 16px;
  letter-spacing: 1px;
  border-radius: 3px;
  height: inherit;
}

form.classy-form .input-group-addon {
  background-color: #eef3f6;
  border-color: #acbecc;
  border-radius: 3px 0 0 3px;
}

.more-less {
  float: right;
  color: #777;
  font-size: 14px;
}

/*Success Page*/
.finish-message .success-icon .glyphicon.glyphicon-ok {
  font-size: 3em;
  color: green;
}
.finish-message .success-icon span,
.finish-message .failure-icon span {
  border: 3px solid;
  height: 80px;
  width: 80px;
  border-radius: 10em;
  padding: 15px 0;
  margin-bottom: 1em;
}
.finish-message h3 {
  margin-bottom: 2em;
}
.finish-message .glyphicon.glyphicon-remove {
  font-size: 3em;
  color: red;
}


@media only screen and (max-width: 767px) {
.pay-options .content-wrap{
  padding: 30px 10px 0px;
}
.content-wrap .saved-card img.card-type {
  /*position: inherit;*/
  margin-bottom: 10px;
}
h2.sub-header {
    font-size: 25px;
}
}

.pull-icon-right {
	position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-14px);
    -webkit-transform: translateY(-14px);
}

.vertical-align {
  min-height: 74px; /*Add a height or minimum height to the containers*/
  position: relative;
  display: none;
}

.vertical-align img{
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  margin-right: auto;
  margin-left:auto;
}






