@import 'settings/base';

.header
{
	background: $dark-grey;
	height: 60px;
	position: relative;
	z-index: 30;
	.logo
	{
		float: left;
		img
		{
			width: auto;
			height: 60px;
		}
	}
	
	.client-name
	{
		float: right;
		@include font('medium');
		color: $white;
		height: 60px;
		line-height: 60px;
		margin-right: $gutter;
	}
}

.wrapper
{
	@include media($mobile)
	{
		padding: 0 20px;
	}
	.content
	{
		.progress
		{
			height: 60px;
			background: $light-grey;
			line-height: 60px;
			text-align: center;
		}
		
		.mpoint-status
		{
			@include outer-container;
			
			.status
			{
				@include font('small');
				margin-top: 15px;
				padding: 30px;
				background: #FFF;
				border: 1px solid #DDD;
				border-radius: 5px;
				width: flex-grid(8, 12);
				margin: 0 auto;
				text-align: center;
				
				@include media($mobile)
				{
					width: 100%;
					padding: $body;
				}
			}
		}
		
		.card-wrapper
		{
			@include outer-container;
			
			.mpoint-help
			{
				text-align: center;
				margin-top: $content;
			}
			.cards
			{
				width: flex-grid(6, 12);
				margin: 0 auto;
				
				@include media($tablet)
				{
					width: flex-grid(10, 12);
				}
				@include media($mobile)
				{
					width: 100%;
				}
				
				.card
				{
					@include clearfix;
					@include animate;
					margin-top: $body;
					padding: $content;
					background: $white;
					border: 1px solid $grey;
					border-radius: 5px;
					position: relative;
					
					&:not(.ignore-hover):hover, &:not(.ignore-hover).hover
					{
						background: $blue;
						color: $white;
						cursor: pointer;
						background-image: none;
						.card-logo .icon .hover
						{
							opacity: 1;
						}
					}
					
					.card-name
					{
						@include span-columns(3 of 6);
						line-height: 30px;
					}
					.card-arrow
					{
						@include span-columns(1 of 6);
						float: right;
						text-align: right;
						font-weight: 200;
						line-height: 30px;
					}
				}
				
				.card-logo
				{
					@include span-columns(2 of 6);
					img
					{
						max-height: 30px;
						width: auto;
					}
					
					.icon
					{
						height: 30px;
						background-size: 100%;
						width: 48px;
						background-position: 0px 0%;
						opacity: 1;
						
						.hover
						{
							height: 30px;
							background-size: 100%;
							width: 48px;
							background-position: 0px 0%;
							opacity: 0;
							@include transition (all 0.15s $ease-out-cubic);
						}
						
						// Add additional cards here

						// Background positions are calculated like this:
						// $negative-position-in-px / ($image-height - $container-height) * 100 %
						$img-height: 4500;
						$container-height: 30;

						&.card-1
						{ // Amex
							@include background-image-scale(570, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(540, $img-height, $container-height, 3);
							}
						}
						&.card-2
						{ // Dankort
							@include background-image-scale(60, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(30, $img-height, $container-height, 3);
							}
						}
						&.card-3
						{ // Diners
							@include background-image-scale(420, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(390, $img-height, $container-height, 3);
							}
						}
						&.card-4, &.card-7 { // EuroCard / Mastercard
							@include background-image-scale(240, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(210, $img-height, $container-height, 3);
							}
						}
						&.card-5
						{ // JCB
							@include background-image-scale(510, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(480, $img-height, $container-height, 3);
							}
						}
						&.card-6
						{ // Maestro
							@include background-image-scale(300, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(270, $img-height, $container-height, 3);
							}
						}
						&.card-8
						{ // VISA
							@include background-image-scale(120, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(90, $img-height, $container-height, 3);
							}
						}
						&.card-9
						{ // VISA Electron
							@include background-image-scale(180, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(150, $img-height, $container-height, 3);
							}
						}
						&.card-12
						{ // Solo Switch
							@include background-image-scale(2730, $img-height, $container-height, 3);
							.hover {
								@include background-image-scale(2700, $img-height, $container-height, 3);
							}
						}
						&.card-13
						{ // Solo
							@include background-image-scale(2790, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(2760, $img-height, $container-height, 3);
							}
						}
						&.card-14
						{ // Delta
							@include background-image-scale(570, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(540, $img-height, $container-height, 3);
							}
						}
						&.card-22
						{ // Discover
							@include background-image-scale(1950, $img-height, $container-height, 3);
							.hover
							{
								@include background-image-scale(1950, $img-height, $container-height, 3);
							}
						}
					}
				}
				
				.stored-cards-wrapper
				{
					@include clearfix;
					.card
					{
						@include span-columns(4 of 12);
						padding: $body;
						text-align: center;
						
						@include media($desktop)
						{
							@include omega(3n);
						}
						
						@include media($tablet)
						{
							@include span-columns(6 of 12);
							@include omega(2n);
						}
						
						.delete-card-icon
						{
							background: $grey;
							color: $black;
							position: absolute;
							right: 15px;
							border-radius: 10px;
							height: 16px;
							width: 16px;
							font-size: 10px;
							line-height: 16px;
							
							&:hover
							{
								background: $dark-grey;
								color: white;
								cursor: pointer;
							}
						}
						
						.card-logo
						{
							float: none;
							width: 100%;
							
							.icon
							{
								margin: 0 auto;
								height: 40px;
								width: 64px;
								.hover
								{
									height: 40px;
									width: 64px;
								}
							}
						}
						
						.card-name
						{
							float: none;
							width: 100%;
							line-height: normal;
							margin-top: 15px;
							@include font('small');
						}
						
						&.selected
						{
							width: 100%;
							padding: 0;
							background: none;
							display: block !important;
							right: 0 !important;
							opacity: 1 !important;
							border: 0;
							
							&:hover
							{
								color: $black;
								cursor: inherit;
							}

							.card-logo, .delete-card-icon, .card-name
							{
								display: none;
							}
							.payment-form
							{
								display: block !important;
							}
						}
						
						&.delete-selected
						{
							width: 100%;
							padding: 0;
							background: none;
							display: block !important;
							right: 0 !important;
							opacity: 1 !important;
							border: 0;
							
							&:hover
							{
								color: $black;
								cursor: inherit;
							}
							
							.card-logo, .delete-card-icon, .card-name
							{
								display: none;
							}
							.deletion-form
							{
								display: block !important;
								.card-logo, .delete-card-icon, .card-name
								{
									display: block;
								}
								
								.card-logo
								{
									.icon
									{
										height: 55px;
										width: 88px;
									}
									.hover
									{
										display: none;
									}
								}
								
								.card-name
								{
									margin-bottom: $body;
								}
							}
						}
					}
				}
				
				.payment-form, .deletion-form
				{
					display: none;
					@include clearfix;
					background: $white;
					margin-top: $body;
					padding: $content $section;
					background: $white;
					border: 1px solid $grey;
					border-radius: 5px;
					
					@include media($mobile)
					{
						padding: $content;
					}
					
					.cardnumber
					{
						position: relative;
						
						.card-logo
						{
							float: none;
							margin: 0;
							width: auto;
							position: absolute;
							right: 7px;
							top: 7px;

							.icon
							{
								height: 27px;
								width: 44px;
							}
							
							&.enabled-cards {
								position: relative;
								top: auto;
								right: auto;
								margin-top: 5px;
								
								.icon {
									float: right;
									width: 31px;
									height: 19px;
									margin-left: 2px;
								}
							}
						}
					}
					
					.additional
					{
						@include clearfix;
						margin-top: $content;
						.expiry
						{
							@include span-columns(3 of 6);
							position: relative;

							label
							{
								display: block;
							}

							input
							{
								@include span-columns(1.5 of 3);
								position: relative;
								z-index: 10;
							}
							
							span
							{
								position: absolute;
								line-height: 41px;
								width: 100%;
								text-align: center;
								left: 0;
								z-index: 1;
								font-weight: 300;
							}
						}
						
						.cvv
						{
							@include span-columns(3 of 6);
						}
					}
					
					label[for="cardholdername"]
					{
						margin-top: $content;
					}
					
					.checkbox
					{
						margin-top: $content;
					}
					
					.save-card
					{
						@include transition (opacity 0.3s $ease-out-cubic);
						height: 0px;
						width: 0px;
						overflow: hidden;
						opacity: 0;
						
						&.active
						{
							height: auto;
							width: auto;
							opacity: 1;
						}
						
						label[for="new-password"]
						{
							float: left;
							margin-top: $content;
						}
						
						.new-password, .repeat-password
						{
							@include span-columns(3 of 6);
							@include media($mobile)
							{
								@include span-columns(6 of 6);
								&:last-child
								{
									margin-top: $content;
								}
							}
						}
						.new-password
						{
							clear: left;
						}
					}
					
					.password
					{
						margin-top: $content;
					}
					
					input[type="submit"]
					{
						width: flex-grid(4, 6);
						display: block;
						margin: 0 auto;
						margin-top: $section;
						text-transform: uppercase;
					}
				}
			}
		}
		
		.back-button
		{
			width: flex-grid(6, 12);
			margin: 0 auto;
			margin-top: $body;
			@include font('small');
			@include animate;
			display: none;
			
			@include media($mobile)
			{
				width: 100%;
			}
			
			&:hover
			{
				cursor: pointer;
				color: $blue;
			}
		}
	}



}

// Success page
.success-page-wrapper
{
	@include outer-container;
	@include media($mobile)
	{
		padding: 0 20px;
	}
	
	.content
	{
		margin: $content auto 0 auto;
		padding: $content;
		background: $white;
		border: 1px solid $grey;
		border-radius: 5px;
		width: flex-grid(8, 12);
		text-align: center;

		@include media($tablet)
		{
			width: flex-grid(10, 12);
		}
		@include media($mobile)
		{
			width: 100%;
		}
		
		.status
		{
			margin-top: $section;
			margin-bottom: 15px;
			
			.checkmark
			{
				display: inline-block;
				height: 40px;
				width: 40px;
				margin-right: 10px;
				margin-bottom: -15px;
				background: $green;
				border-radius: 20px;
				
				@include media($mobile)
				{
					margin-bottom: 0;
				}
				
				&:after
				{
					content: '';
					display: block;
					width: 10px;
					height: 20px;
					border: solid #FFF;
					border-width: 0 4px 4px 0;
					transform: rotate(45deg);
					margin: 8px auto 0 auto;
				}
			}
			
			.info
			{
				display: inline;
				@include media($mobile)
				{
					display: block;
				}
			}
		}
		
		.receipt
		{
			@include font('small');
			width: flex-grid(4, 8);
			margin: $content auto $section auto;
			text-align: left;
			@include clearfix;
			
			@include media($mobile)
			{
				width: flex-grid(6, 8);
			}
			
			.label
			{
				width: 50%;
				float: left;
				font-style: italic;
				clear: left;
			}
			.number
			{
				width: 50%;
				float: left;
				text-align: right;
				margin-right: 0;
			}
		}
		
		input
		{
			padding: 8px 16px;
			@include media($mobile)
			{
				@include font('regular');
			}
		}
	}
}