<?xml version="1.0" encoding="UTF-8"?>
<root>
	<head>
		<!-- WorldPay requires a "head" tag -->
	</head>
	<psp-info id="4">
		<url method="post" content-type="application/x-www-form-urlencoded"><wpdisplay request=servlet_url></url>
		<wpdisplay response=page>
	</psp-info>
	<wpdisplay result=info componentPrefix=card pre="" post="">
</root>