<?xml version="1.0" encoding="UTF-8"?>
<root>
	<head>
		<!-- WorldPay requires a "head" tag -->
	</head>
	<url method="get" content-type="none" timeout="5"><wpdisplay payment=serverURL>?op-PMGetNextPage&amp;PaymentID=<wpdisplay payment=payment_id></url>
	<wpdisplay response=page>
</root>